
    <ngb-carousel #carousel interval="1000" (slide)="onSlide($event)" style="max-width: 800px;" class="m-auto">

      <ng-template ngbSlide *ngFor="let initCurrency of currencyService.initCurrencies; index as i">

        <div class="carousel-caption"  style="height: 100px;">
            <h3 class="rate">{{ initCurrency.from }} to {{ initCurrency.to }}: {{ initCurrency.rate }}</h3>
        </div>
        <div class="picsum-img-wrapper">
            <img src="{{ initCurrency.image }}" alt="My image {{i + 1}} description">
        </div>
      </ng-template>

    </ngb-carousel>

